body {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wraper {
  max-width: 575px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #00000020;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgb(0 0 0 / 20%);
  text-align: center;
}
form label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #1b171c;
}
form input {
  display: block;
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  border: 1px solid #707070;
  border-radius: 15px;
  margin-bottom: 10px;
}
form input[type="submit"] {
  display: inline-block;
  padding: 16px;
  border: 1px solid #707070;
  border-radius: 15px;
  max-width: 35%;
  margin-bottom: 0;
}
.footer h5 {
  font-size: 20px;
  font-weight: 500;
  color: #1b171c;
  margin: 0;
  margin-bottom: 10px;
}
.footer p {
  font-size: 20px;
  font-weight: 700;
  color: #1b171c;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.g-5 {
  gap: 5px;
}
.g-10 {
  gap: 10px;
}
